@import url('https://fonts.googleapis.com/css?family=Gamja+Flower'); /*font sử dụng*/

html, body {
    width: 100%; /*full màn*/
    height: 100%; /*full màn*/
    font-family: 'Arial';
    font-size: 0.8rem;
}

/*thanh navbar , màu a = 0.9 là độ trong, !important cho phép đè lên các phần tử bootraps*/
.navbar {
    background-color: rgba(255,255,255,0.8) !important;
}
/*thẻ a*/
.navbar li a {
    color: black!important;
    margin-left: 0.3125rem;
    margin-right: 3.125rem;
}
/*hover là hành động khi di chuột vào thẻ a*/
.navbar li a:hover {
    color: black!important;
}

/* Dropdown menu background color*/

.navbar-nav > li > .dropdown-menu {     background-color: rgba(225, 222, 255, 0.99);  }

/* Dropdown menu font color*/ 

 .navbar-nav > li > .dropdown-menu a{   color: #fff;  }

.dropdown-item{
  width: 94%;
}
.dropdown-item:hover{
  background-color: #aadfe6;
}

/*chỉnh hình full*/
.carousel-inner img {
    width: 100%;
}
/*vị trí cứng, là cách phía trên 50%*/
.carousel-caption {
    position: absolute;
    top: 50%;
}
.carousel-caption h1 {
    font-size: 300%;
    text-transform: uppercase;
    text-shadow: 0.3125rem 0.3125rem 1rem #000;
    margin-top: 16.875rem;
}
.carousel-caption h3 {
    font-size: 150%;    
    text-shadow: 0.125rem 0.125rem 0.625rem #000;
}
.btn-primary {
    background-color: rgb(82,64,120);
    border: 0.063rem solid white;
    animation-name: cd-bounce-rotate;
    animation-duration: 1s;
}
.btn-primary:hover {
    background-color: rgb(62,44,100);
    border: 0.063rem solid white;
    animation-name: cd-bounce-rotate;
    animation-duration: 1s;
}

/* viền ở phía trên, solid là thẳng tắp*/
.welcome hr {
    border-top: 0.125em solid rgba(0,0,0, 0.6);
    width: 95%; 
    margin-bottom: 2rem;
}


.social a {
    font-size: 3em;/*1em = 1rem*/
    padding: 3rem;/*1rem = 1 "font-size" */
}
.fa-facebook {
    color: #3b5998;
}
.fa-twitter {
    color: #00aced; 
}
.fa-google-plus-g {
    color: #dd4b39;
}
.fa-instagram {
    color: #517fa4;
}
.fa-youtube {
    color: #bb0000;
}
footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
}
hr.light {
    border-top: 0.063rem solid #d5d5d5;
    width: 75%;
}
.light-100 {
    border-top: 0.063rem solid #d5d5d5;
    width: 100%;
}
/* animation*/

.cd-intro-content h1,
.cd-intro-content p,
.cd-intro-content h3,
.cd-intro-content .cd-btn {
  opacity: 0;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.bouncy.cd-intro-content h1 {
  animation-name: cd-bounce-right;
}

.bouncy.cd-intro-content p {
  animation-name: cd-bounce-left;
}

.bouncy.cd-intro-content h3 {
  animation-name: cd-bounce-left;
}
.bouncy.cd-intro-content p,
.bouncy.cd-intro-content h1,
.bouncy.cd-intro-content h3{
  animation-duration: 0.6s;
}

.bouncy.cd-intro-content .cd-btn {
  animation-name: cd-bounce-rotate;
  animation-duration: 0.5s;
}

.bouncy.cd-intro-content .cd-btn.main-action {
  animation-delay: 0.4s;
}

@keyframes cd-bounce-right {
  0% {
    opacity: .2;
    transform: translateX(-12.5rem);
  }
  60% {
    opacity: .7;
    transform: translateX(0.938rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes cd-bounce-left {
  0% {
    opacity: .2;
    transform: translateX(12.5rem);
  }
  60% {
    opacity: .7;
    transform: translateX(-0.938rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes cd-bounce-rotate {
  0% {
    opacity: .2;
    transform: perspective(50rem) rotateX(-80deg);
  }
  20% {
    opacity: 1;
  }
  60% {
    transform: perspective(50rem) rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: perspective(50rem) rotateX(0);                      
  }
}


/* Style the links inside the sidenav */
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -7.5rem; 
  transition: 0.3s; /* Add transition on hover */
  padding: 0.875rem; /* 0.875rem padding */
  width: 8.125rem; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 1.25rem; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 0.313rem 0.313rem 0; /* Rounded corners on the top right and bottom right side */
  margin-top: 1rem;
  z-index: 2;
}

#mySidenav a:hover {
  left: 0; 

}

/* The about link: 1.25rem from the top with a green background */
#home {
  top: 130%;
  background-color: #04AA6D;
}

#notice {
  top: 135%;
  background-color: #2196F3; /* Blue */
}

#projects {
  top: 140%;
  background-color: #f44336; /* Red */
}

#time {
  top: 145%;
  background-color: #555 /* Light Black */
}


@media (max-width: 48rem){  
  .carousel-caption {
    top: 20%;
  }
  .carousel-caption h1{
    font-size: 220%;
  }
  .carousel-caption h3{   
    font-size: 140%;
    padding-bottom: 0.2rem;
  }
  .carousel-caption .btn{   
    font-size: 95%;
    padding: 0.5rem 0.875rem;
  }
}
@media (max-width: 36rem){
  .carousel-caption {
    top: 10%;
  }
  .carousel-caption h1{
    font-size: 150%;
  }
  .carousel-caption h3{   
    font-size: 110%;    
  }
  .carousel-caption .btn {    
    font-size: 90%;
    padding: 0.25rem 0.5rem;
  } 
}
/*sidetab*/
.state1 {
  height: 100%;
  width: auto;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 0;
  background-color: #eee;
  transition: 0.5s;
  padding-top: 3.75rem;
  text-align:center;
  overflow-y: scroll; 
}
.state1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0.063rem 0.063rem rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.state1::-webkit-scrollbar
{
	width: 1rem;
  height: 1rem;
	background-color: #F5F5F5;
}

.state1::-webkit-scrollbar-thumb
{
	background-color: rgb(54, 201, 238);	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}

.state1 a {
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  text-decoration: none;
  font-size: 1.563rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.state1 a:hover{
  color: #ff0000;
}

.state1 .closebtn {
  position: absolute;
  top: -1rem;
  right: 1.563rem;
  margin-left: 3.125rem;
  color: rgb(0, 0, 0);
  font-size: 3rem;
  font-weight: bold;
  text-shadow: rgb(255, 255, 255) 0.1rem 0.1rem;
}

@media screen and (max-height: 450px) {
  .state1 {padding-top: 0.938rem;}
  .state1 a {font-size: 1.125em;}
}

/* Style the tab */
.tab {
  border: 0.063rem solid #ccc;
  background-color: #f1f1f1;
  overflow: hidden;
}


/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.875rem 1rem;
  transition: 0.3s;
  font-size: 1.063em;
  display:flex;
  
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  border: 0.063rem solid #ccc;
  overflow-y: scroll;
}
.tabcontent::-webkit-scrollbar {
  display: none;
}

.header {
  border-bottom: 0.188rem solid black;
  background-color: #4bcbfe;
  color: white;
  text-transform:uppercase;
  text-shadow: 0.063rem 0.125em 0.125em rgb(0, 0, 0);
  text-align: center;
  font-size: 0.8rem;
}
.card-header {
  border-bottom: 0.188rem solid rgba(0, 0, 0, 0.514);
  background-color: #0da8ef73;
  text-transform:uppercase;
  text-align: left;
  font-size: 0.8rem;
}

input[type=search] {
  background-position: 0.625em 0.625em; 
  background-repeat: no-repeat;
  margin-top: 0.625em;
  margin-bottom: 0.625em;
  width: 8.125rem;
  -webkit-transition: 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border: none;
  padding: 0.313rem;

}
input[type=search]:focus {
  width: 87%;
  padding: 0.8rem;
  
}
.btn-outline-dark{
  border-radius: 0.313rem;
  background-color: #ffffff;
}
.col1{ 
  margin-left: 1%;
  width: 32%;
}
/**/
.vertical-menu {
  width: auto; /* Set a width if you like */
  overflow-y: scroll;
  overflow-x: none;
  height: 44%;
  margin: 0.2rem;
  outline: outset;
  color: rgb(255, 255, 255);
}

.vertical-menu::-webkit-scrollbar-track
{
	background-color: #edf54f;
}

.vertical-menu::-webkit-scrollbar
{
	width: 0.8rem;
  height:0.438rem;
}

.vertical-menu::-webkit-scrollbar-thumb
{
	background-color: rgb(54, 201, 238);	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #04AA6D; /* Add a green color to the "active/current" link */
  color: white;
}
.card{
  border-radius: 0.625em;
  margin-bottom: 2%;
 
}
.mauxanh{
  background-color: greenyellow;
}

.btn-dark{
  margin-top: 0.313rem;
  margin-bottom: 0.313rem;
  max-width: 80%;
}
.btn-light{
  margin-top: 0.313rem;
  margin-bottom: 0.313rem;
 
  background-color: transparent;
}


/*///////////////////*/
input[type=radio] {
  padding: 0.75rem 1.25rem;
  margin-left: 2rem;
}
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Full-width input fields */
input[type=nameHome] {
  width: 100%;
  padding: 0.75rem 1.25rem;
  margin: 0.5rem 0;
  display: inline-block;
  border: 0.063rem solid #5cc;
  box-sizing: border-box;
}
input[type=nameRoom]{
  width: 73%;
  padding: 0.75em 1.25rem;
  margin: 0.5rem 0;
  display: inline-block;
  border: 0.063rem solid #ccc;
  box-sizing: border-box;
}

/* Extra styles for the cancel button */
.btnadd {
  width: auto;
  padding: 0.625em 1.125em;
  background-color: #f44336;
}
  
.btnadd1 {
  width: 100%;
  padding: 0.625em 1.125em;
  background-color: #32b926;
  border-radius: 0.313rem;
  color: white;
}
#add_device_modal{
  width: auto;
  display: inline-block;

}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 1.5em 0 0.75em 0;
  position: relative;
}

img.avatar {
  width: 10%;
  border-radius: 50%;
}

.container1 {
  padding: 1rem;
}
span.psw {
  float: right;
  padding-top: 1rem;
}

/* The formAddHome (background) */
.formAddHome {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 101; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 3.75rem;
} 


/* formAddHome Content/Box */
.formAddHome-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 0.063rem solid #888;
  width: 80%; 
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.5s;
  animation: animatezoom 0.5s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .btnadd {
     width: 100%;
  }
}
.btncus{
  margin-top: 0.313rem;
  margin-bottom: 0.313rem;
  margin-left: 0.313rem;
  margin-right: 0.313rem;
  border-radius: 0.313rem;
  padding: 0.438em;
  min-width: 2.5rem; 
  background-color: rgb(255, 255, 255); 
}
.btncus:hover {
  background-color: rgb(139, 241, 113); /* Dark grey background on mouse-over */
}
/*////////////////////btn add room///////////////////////////////*/
.buttons_added {
    opacity:1;
    display:inline-block;
    display:-ms-inline-flexbox;
    display:inline-flex;
    white-space:nowrap;
    padding: 0.75em;
    width: 13%;
    min-width: 8.438em;
   
}
.form-inde {
    display:-ms-inline-flexbox;
    display:inline-flex;
    display: inline-block;
    position:relative;
    width:3rem;
    padding:0.75em;
    text-shadow:0.063rem 0.063rem 0.063rem #fff;
    border:0.063rem solid #ddd;
    background-color: cornflowerblue;
    outline:none;
}
.input-qty {
    display: inline-block;
    text-align:center;
    border-top:0.063rem solid #ddd;
    border-bottom:0.063rem solid #ddd;
    border-left:0;
    border-right:0;
    width: 100%;
}
/*///////////////////////*/
.form-select {
    display:-ms-inline-flexbox;
    display:inline-flex;
    display: inline-block;
    position:relative;
    text-shadow:0.063rem 0.063rem 0.063rem #fff;
    box-shadow: none;


}
.form-select select{
    content: '25BC';
    height: 100%;
    width: 100%;
    padding: 0.75em;
    border:0.063rem solid #47aedb87;

}
 .form-select:hover::after {
   color: Gainsboro;
 }
select::after {
  
   position: absolute;
   top: 0;
   right: 0;
   background: DodgerBlue;
   cursor: pointer;
   pointer-events: none;
   -webkit-transition: .25s all ease;
   -o-transition: .25s all ease;
   transition: .25s all ease;
   color: white;
 }

  select {
   -webkit-appearance: none;
   -moz-appearance: none;
   -ms-appearance: none;
   appearance: none;
   outline: 0;
   box-shadow: none;
   border: 0 !important;
   background: #0084c1;
   background-image: none;
 }
.form-select {
   position: relative;  
 }
 select {
   flex: 1;
   padding: 1em;
   color: #fff;
   cursor: pointer;
 }
 label{
  margin-bottom: -0.2rem;
  margin-top: 0.5%;
 }
 
 /*hien thi thong bao*/
 .example button {
  float: left;
  background-color: #4E3E55;
  color: white;
  border: none;
  box-shadow: none;
  font-size: 1.063em;
  font-weight: 500;
  font-weight: 600;
  border-radius: 0.188rem;
  padding: 0.938rem 2.188rem;
  margin: 1.625rem 0.313rem 0 0.313rem;
  cursor: pointer; 
}
#defaultOpen{
  background-color: #4c67d3ef;
  color: white;
}
#defaultOpen:hover {
  background-color: rgb(247, 103, 103); /* Dark grey background on mouse-over */
}
#tabset{
  background-color: #4c6783d4;
  color: white;
}

#tabset:hover {
  background-color: rgb(139, 241, 113); /* Dark grey background on mouse-over */
}
.maubang_0{
  background-color: rgb(205, 210, 223);
  text-transform:uppercase;
  color: rgb(0, 0, 0);

}
.table-bordered td, .table-bordered th {
  border: 0.063rem solid #03030371;
}
.maubang_1{
  background-color: rgb(226, 238, 238);
  text-transform:uppercase;
  color: black;

}

.btncheck{
  width: 90%;
  padding: 0.5rem 0.75em;
  border-radius: 0.625em;
  background-color: #9adee7;
  display: inline-block;
  text-align: left;
  margin-left: -1rem ;
}
.formHome {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  border: 0.063rem solid rgb(30, 134, 219);
} 
.formHome>div{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #c5c3c3d1;

}
.formHome-content {
  background-color: rgb(255, 255, 255);
  color: white;
  border: 0.063rem solid #888;
  height: 100%;
  overflow-y: scroll;
  
}
.formHome-content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0.063rem 0.063rem rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.formHome-content::-webkit-scrollbar
{
	width: 0.625em;
  height:0.438em;
	background-color: #F5F5F5;
}

.formHome-content::-webkit-scrollbar-thumb
{
	background-color: rgb(54, 201, 238);	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}

.resize {
  width: 100%;
  height: 100%;
}
.gridcus {
  font: 2em Sansita, sans-serif;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
  grid-auto-rows: minmax(5rem, auto);
  grid-auto-flow: dense;
  position:relative;
}
.gridcus >*:hover {
  background-color: rgb(103, 103, 216);
}

.gridcus > * {
  color: #fff;
  background-color: rgba(45, 66, 253, 0.548);
  outline: outset;
  position:relative;
  grid-row: auto / span 3;
  grid-column: auto / span 3;
  text-align: center;
}
.container-gridcus{
  margin: 2rem;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  grid-auto-rows: minmax(8rem, auto);
  grid-auto-flow: dense;
  position:relative;
  grid-gap: 2%;
  background-color: #ffffff;
  margin: 5em;
}

.grid-container > div {
  background-color: rgba(253, 253, 253, 0.8);
  border: 0.063rem solid rgb(30, 134, 219);
  text-align: left;
  color: #000;
  border-radius: 0.313rem;
  box-shadow: rgba(29, 213, 238, 0.2) 0.313rem 0.063rem;
  grid-row: auto / span 2;
  grid-column: auto / span 2;
}
.h1cus{
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  background-color: #50a0ab;
  padding: 2rem;
  border-bottom: 0.063rem solid rgb(0, 0, 0);
  text-shadow:  black 0.1rem 0.1rem;
}
.h4cus{
  margin: 0.3rem;
  text-align: left;
  text-transform: uppercase;
  outline: outset;
  color: rgb(232, 235, 211);
  background-color: rgb(15, 92, 235);
  padding: 0.5rem;
  font-size: 0.8rem;
}
.btnback {
  position: absolute;
  left: 0.3rem;
  top: 2rem;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: bold;
  text-shadow: rgb(10, 165, 213) 0.125em 0.125em;
}
.btnback:hover{
  color: #0026fd;
}

.btn_close{
  position: absolute;
  right: 2%;
  top: 0;
  color: rgb(0, 0, 0);
  font-size: 1.875rem;
  font-weight: bold;
  text-shadow: rgb(10, 165, 213) 0.125em 0.125em;
}
.btn_close:hover{
  color: #0026fd;
}