.grid {
  margin: 6%;
  color: #fff;
  font: 2em Sansita, sans-serif;
  display: grid;
  grid-gap: 2%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-auto-flow: dense;
  position:relative;
}

.grid > * {
  background-color: rgb(49 39 191 / 54%);
  text-align: left;
  outline: outset;
  position:relative;
}

.grid > *:nth-child(2n+3) {
  color: #fff;
  grid-row: auto / span 2;
  grid-column: auto / span 2;
  outline: outset;
  position:relative;
}

.grid > *:nth-child(7n+1) {
  background-color: rgb(49 39 191 / 54%);
  color: #fff;
  grid-column: auto / span 2;
  grid-row: auto / span 2;
  outline: outset;
  position:relative;

}
.grid > *:nth-child(7n+7) {
    color: #fff;
    grid-row: auto / span 1;
    grid-column: auto / span 1;
    background-color: rgb(49 39 191 / 54%);
    outline: outset;
    position:relative;
}
.grid > *:nth-child(7n+8) {
    color: #fff;
    grid-row: auto / span 1;
    grid-column: auto / span 1;
    background-color: rgb(49 39 191 / 54%);
    outline: outset;
    position:relative;
}
.grid > *:nth-child(7n+6) {
    background-color: rgb(49 39 191 / 54%);
    color: #fff;
    grid-column: auto / span 2;
    grid-row: auto / span 2;
    outline: outset;
    position:relative;
  }
.resize {
    width: 100%;
    height: auto;
}
.chucnang{
    position:absolute;
    top: 0;
    left: 0;
    background-repeat: repeat-y;
    padding: 5px;
    background-color: rgb(49 39 191 / 80%);
    background-color: none; 
    box-shadow: 1px 1px;
    font-size: 20px;
  }
  .slideleft {
    -webkit-animation: animateslide 0.1s;
    animation: animateslide 0.3s
  }
  
  @-webkit-keyframes animateslide {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
  }
    
  @keyframes animateslide {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
  }

  .phonguser {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 200%; /* Full height */
    border: 1px solid rgb(30, 134, 219);
  } 
  .phonguser>div{
    position: absolute;
    width: 100%;
    height: 160%;
    background-color: #c5c3c3d1;
  }
  .phonguser-content {
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: white;
    border: 1px solid #888;
    height: 100%;
  }

  .gridroom {
    margin: 12%;
    color: #fff;
    font: 2em Sansita, sans-serif;
    display: grid;
    grid-gap: 3%;
    margin-top: 6rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-auto-flow: dense;
    position:relative;
  }

  .gridroom > * {
    background-color: rgb(49 39 191 / 54%);
    color: #fff;
    grid-column: auto / span 1.5;
    grid-row: auto / span 2;
    outline: outset;
    position:relative;
  }
.tablecus{
  width: 80rem;
  margin-right: 10rem;    
  margin-left: 10rem;
  margin-top: 10rem;
  text-transform: uppercase;
}
